<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jisung.mapper.ReplyMapper">
	<!-- 댓글 등록 -->
	<insert id="insert">
		insert into tbl_reply(replyid,boardid,reply,replyer) values(seq_reply.nextval, #{boardId} , #{reply} ,#{replyer})
	</insert>
	<!-- 해당 댓글 내용 -->
	<select id="read" resultType="com.jisung.domain.ReplyVO">
		select * from tbl_reply where replyid = #{replyId}
	</select>
	<!-- 댓글 삭제 -->
	<delete id="delete">
		delete from tbl_reply where replyid = #{replyId}
	</delete>
	<!-- 댓글 수정 -->
	<update id="update">
		update tbl_reply set reply = #{reply} ,replydate = sysdate where replyid = #{replyId}
	</update>
	<!-- 댓글목록  -->
	<select id="listWithPaging" resultType="com.jisung.domain.ReplyVO">
		<![CDATA[
			select replyid,boardid,reply,replyer,replydate
			from (
				select /*+INDEX(tbl_reply idx_reply)*/ rownum rn,replyid,boardid,reply,replyer,replydate
				from tbl_reply
				where boardid = #{boardId} and replyid >0 and rownum <= #{cri.pageNum} * #{cri.amount}
			)
			where rn > (#{cri.pageNum}-1) * #{cri.amount} 
		]]>
	</select>
	
	<!--게시글의 댓글 수 -->
	<select id="total" resultType="int">
		select count(*) from tbl_reply where boardid = #{boardId}
	</select>
	<!-- 댓글 전부 삭제 -->
	<delete id="deleteAll">
		delete from tbl_reply where boardid = #{boardId}
	</delete>
</mapper>